  <header>
    <h1>Rajeev Ranjan</h1>
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>&nbsp;|&nbsp;
      <a routerLink="/skills" routerLinkActive="active">Skills</a>&nbsp;|&nbsp;
      <a routerLink="/experience" routerLinkActive="active">Experience</a>&nbsp;|&nbsp;
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </nav>
  </header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <span>&copy; 2020. Rajeev Ranjan</span>
  </footer>
