/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
header{height: 80px; padding: 0 20px; box-shadow: 0px 0px 6px #999999;}
header h1{margin:0; padding: 0; font-size: 1.5rem; font-weight: normal; padding-top: 8px;}
header nav{margin-top: 10px;}
footer{height: 40px; padding: 0 20px;     box-shadow: 0px -3px 5px #cccccc;line-height: 3rem; font-size: 0.8rem;}
.main{height: calc(100% - 140px);  margin: 0; padding: 0 20px;}
